<mat-sidenav-container class="sidenav-container" *ngIf="(isAuthenticated$ | async); else loginView">
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar>EMS</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/employees" routerLinkActive="active" *ngIf="canAccessEmployees$ | async">
        <mat-icon>people</mat-icon>
        <span>Employees</span>
      </a>
      <a mat-list-item routerLink="/departments" routerLinkActive="active">
        <mat-icon>business</mat-icon>
        <span>Departments</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Employee Management System</span>
      <span style="flex: 1 1 auto;"></span>
      <span *ngIf="userInfo$ | async as userInfo" style="margin-right: 1rem;">
        {{ userInfo.name || userInfo.email }}
      </span>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loginView>
  <router-outlet></router-outlet>
</ng-template>
